<div ng-controller="CalendarCtrl as vm" class="panel panel-primary">
            
            <mwl-calendar
                    events="vm.events"
                    view="main.calConfig.calendarView"
                    view-title="vm.calendarTitle"
                    current-day="vm.calConfig.calendarDay"
                    view-date="vm.viewDate"                    
                    on-event-click="vm.eventClicked(calendarEvent)"
                    edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                    on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                    on-edit-event-click="vm.eventEdited(calendarEvent)"
                    on-delete-event-click="vm.eventDeleted(calendarEvent)"
                    cell-modifier="vm.cellModifier(calendarCell)"
                    on-timespan-click="vm.timespanClicked(calendarDate)"
    				day-view-segment-size="17"
                    auto-open="true">
                </mwl-calendar>
</div>


    