<div ng-controller="Setting_MainInfoCtrl as mainInfo">
	<div class="form-group row">
		<label for="example-text-input" class="col-sm-1 col-form-label">Наименование</label>
		<div class="col-sm-5">
			<input class="form-control" type="text" ng-model="mainInfo.info.name"
				id="example-text-input">
		</div>
	</div>
	<div class="form-group row ">
		<label for="example-text-input" class="col-sm-1 col-form-label">Фамилия</label>
		<div class="col-sm-3">
			<input class="form-control" type="text" ng-model="mainInfo.info.lastName"
				id="example-text-input">
		</div>
		<label for="example-text-input" class="col-sm-1 col-form-label">Имя</label>
		<div class="col-sm-3">
			<input class="form-control" type="text" ng-model="mainInfo.info.firstName"
				id="example-text-input">
		</div>

		<label for="example-text-input" class="col-sm-1 col-form-label">Отчество</label>
		<div class="col-sm-3">
			<input class="form-control" type="text" ng-model="mainInfo.info.subName"
				id="example-text-input">
		</div>
	</div>

</div>