<!DOCTYPE html>
<html ng-app="BookingApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Title</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
	<!-- <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script th:src="@{/js/bootstrap.min.js}"></script> -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script th:src="@{/js/angular.min.js}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.8/interact.min.js"></script>
    <script src="//cdn.jsdelivr.net/angular.bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
  	<script th:src="@{/js/angular-bootstrap-calendar.min.js}"></script>
	<script th:src="@{/js/angular-bootstrap-calendar-tpls.min.js}"></script>
  	<link rel="stylesheet" th:href="@{/css/angular-bootstrap-calendar.min.css}">
  	<script src="//cdn.rawgit.com/pc035860/angular-highlightjs/v0.6.1/build/angular-highlightjs.min.js"></script>
	<script th:src="@{/js/project/app/app.js}"></script>
	<script th:src="@{/js/project/controller/MainCtrl.js}"></script>
	<script th:src="@{/js/project/controller/CalendarCtrl.js}"></script>
	<script th:src="@{/js/project/controller/SettingCtrl.js}"></script>
	<script th:src="@{/js/project/controller/Setting_MainInfoCtrl.js}"></script>
	<script th:src="@{/js/helper.js}"></script>
	  	<script th:inline="javascript">
		/*<![CDATA[*/ 
			var navItems = [[${navItems}]];
		/*]]>*/
	</script>
</head>
<body ng-cloak ng-controller="MainCtrl as main">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" th:utext="${userName}"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<li ng-repeat="section in main.navigationList | filter:{ position: 'left' }" ng-class="{'active':section.active}" >
        	<a ng-click="main.changeContent(section)"  > {{section.itemName}}
        		<span ng-if="section.active" class="sr-only">(current)</span>
        	</a>
    	</li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <span class="glyphicon glyphicon-wrenc"></span>
      <ul class="nav navbar-nav navbar-right">
      	<li ng-repeat="section in main.navigationList | filter:{ position: 'right' }" ng-class="{'active':section.active}" >
        	<a ng-click="main.changeContent(section)" >
        	{{section.itemName}}
        		<span ng-if="section.active" class="sr-only">(current)</span>
        	</a>
    	</li>
        <li><a href="/login?logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid" ng-include="main.pageUrl" >
</div>

</body>
</html>